.formItem{
    display: flex;
    justify-content: center;
}

.ant-tabs-content{
    width: 900px;
}


.form-group{
    padding:10px;
    border:2px solid;
    margin:10px;
  }
  .form-group>label{
    position:absolute;
    top:-1px;
    left:20px;
    background-color:white;
  }
  
  .form-group>input{
    border:none;
  }
  .item-form {

    width: 100%;
  
  
  }

  .avatar-upload-container .ant-upload {
    border-radius: 50%;
  }
  
  /* Estilo para a imagem dentro do componente Upload */
  .avatar-upload-container .avatar-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
  }

  .ant-upload{
    border-radius: 50%;
  }

  .custom-formProfile.ant-form-horizontal.ant-form {
    /* Defina as regras de estilo desejadas para o formulário aqui */
    /* Por exemplo, você pode ajustar o tamanho usando a propriedade 'width' */
    width: 100%;
    /* Ou definir uma largura máxima */
    max-width: 800px;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(50%);
      opacity: 0;
    }
  }
  
  .slide-in-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-in-modal .ant-modal-content {
    animation: slideIn 0.3s ease-in-out;
  }
  
  .slide-out-modal .ant-modal-content {
    animation: slideOut 0.3s ease-in-out;
  }